<div class="search-filter">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
    <div class="form-group">
      <input id="businessName" formControlName="businessName" class="form-control" type="text" placeholder="Enter Keyword" aria-label="Search">
    </div>
    <div class="form-group">
      <input id="postcode" formControlName="businessPostcode" class="form-control" type="text" placeholder="Post Code" aria-label="Search">
    </div>
    <div class="form-group">
      <select id="category" class="form-control" formControlName="businessIndustry">
        <option value="">Any</option>
        <option *ngFor="let industryType of industryTypes" value="{{industryTypeEnum[industryType]}}">{{industryTypeEnum[industryType]}}</option>
      </select>
    </div>
    <div class="form-group action-buttons-wrapper">
      <button type="submit" class="btn btn-warning">Search</button>
      <button type="button" class="btn btn-default">Reset</button>
    </div>
  </form>
</div>