<div class="business-card">
  <div class="business-card-head">
    <div class="business-name">
      <h5>{{ businessData.name }}</h5>
    </div>
    <div class="business-logo">
      <div class="logo-wrapper">
        <ng-container *ngIf="businessData.thumbnail">
          <img src="{{businessData.thumbnail}}" class="rounded-circle" />
        </ng-container>
        <ng-container *ngIf="!businessData.thumbnail">
          <img src="../../../../../assets/images/logo/no-image-1.jpg" class="rounded-circle" />
        </ng-container>
      </div>
    </div>
  </div>
  <hr>
  <div class="business-card-body">
    <div class="row">
      <div class="col-8">
        <p><mdb-icon fas icon="map-marker-alt"></mdb-icon> Address: {{businessData.address}}</p>
        <p><mdb-icon fas icon="phone-square-alt"></mdb-icon> Phone: {{businessData.phoneNumber}}</p>
      </div>
      <div class="col-4 cta-wrapper">
        <ng-container *ngIf="businessData.addressLink">
          <a class="btn btn-warning" href="{{businessData.addressLink}}" target="_blank">Show Map</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>