<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-search-business (search)="fetchList($event)"></app-search-business>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <ng-container *ngIf="businessListData$|async">
          <div *ngFor="let business of businessListData$|async" class="row">
            <div class="col-12">
              <app-business-card [businessData]="business"></app-business-card>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>